/* components/TaskTable.module.css */
.taskTable {
    width: 100%;
  }
  
  .navbar {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
  }
  
  .table {
    width: 100%;
    border-collapse: collapse;
  }
  
  th, td {
    border: 1px solid #ccc;
    padding: 8px;
    text-align: left;
  }
  
  th {
    background-color: #c54242;
  }
  